<app-loader *ngIf="loading"></app-loader>
<div class="p-5" *ngIf="!loading">
  <h1 class="flex justify-content-center">Products</h1>
  <div class="header flex flex-wrap gap-1 justify-content-between align-items-center m-2 p-3">
    <p>Total items: <b>{{allProducts.length}}</b></p>

    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input type="text" class="search-field" placeholder="Search by Name or Category" pInputText (input)="searchOnInput($event)" >
    </span>

    <div class="sortfilter flex gap-2 align-items-center" >
      <p>SortBy:</p>
      <p-dropdown class="w-full" [options]="allSortingOptions" (onChange)="sortBy($event.value)"></p-dropdown>

      <div class="flex align-items-center ml-2">
        <div class="filter flex justify-content-center align-item-center p-2" (click)="dialogVisiblity()">
          <i class="pi pi-filter mr-1"></i> Filter
        </div>
      </div>
    </div>


  </div>
  <p-dialog header="Filter Products" position="right" [(visible)]="displayDialog">
    <div class="container p-3" style="width: 300px; height: 400px;">
      <form [formGroup]="form">
        <div class="price mb-3">
          <h3 class="mb-3">Select Price Range</h3>
          <p-slider formControlName="price" [range]="true" [min]="0" [max]="1000"></p-slider>
          <h5 class="mt-3">$ {{this.form.value.price[0]}} - ${{this.form.value.price[1]}}</h5>
        </div>

        <div class="discount mb-3">
          <h3 class="mb-3">Select Discount Range</h3>
          <p-slider formControlName="discount" [range]="true" [min]="0" [max]="100"></p-slider>
          <h5 class="mt-3">$ {{this.form.value.discount[0]}} - ${{this.form.value.discount[1]}}</h5>
        </div>

        <div class="category mb-3">
          <h3 class="mb-3">Select Category</h3>
          <p-dropdown class="w-full" [options]="allCategories" formControlName="category"></p-dropdown>
        </div>
      </form>
      <div class="button mt-3">
        <button class="w-full" pButton type="button" label="Filter" icon="pi pi-filter" (click)="filterData()"></button>
      </div>
      <!-- {{this.form.getRawValue() | json}} -->
    </div>
  </p-dialog>
  <div class="flex flex-wrap gap-3 p-2">
    <p-card class="mb-5 flex-1" *ngFor="let item of allProducts">
      <ng-template pTemplate="header">
        <div class="w-100% flex justify-content-end p-2">
          <p-chip >-{{item.discountPercentage}}%</p-chip>
        </div>
      </ng-template>
      <div class="flex flex-column justify-content-center align-item-center">
        <img [src]="item.images[0]" alt="">
      </div>
      <div class="flex justify-content-between align-items-center mt-3">
        <h3>{{item.title}}</h3>
        <div>
          <p><s>${{item.price}}</s></p>
          <p>${{calculatedValue(item.price,item.discountPercentage) | number:'1.0-0'}}</p>
        </div>
      </div>

      <div class="rating flex align-items-end">
        <div class="rate-txt-mini flex align-content-center p-1">
          {{item.rating}}
        </div>
        <div class="stars">
          <div *ngFor="let item of getStarArray(item.rating)">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="item == 1">
              <path d="M3.25325 15.1399L4.5198 9.66451L0.272003 5.98179L5.88377 5.49466L8.06612 0.331055L10.2485 5.49466L15.8602 5.98179L11.6124 9.66451L12.879 15.1399L8.06612 12.2366L3.25325 15.1399Z" fill="#FEBE42"/>
            </svg>
            <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg" *ngIf="item == 0.5">
              <path d="M8.27205 4.01695V10.0964L10.7272 11.5967L10.0842 8.79084L12.2471 6.92026L9.4022 6.66695L8.27205 4.01695ZM3.45919 14.8313L4.72573 9.35592L0.477936 5.6732L6.0897 5.18606L8.27205 0.0224609L10.4544 5.18606L16.0662 5.6732L11.8184 9.35592L13.0849 14.8313L8.27205 11.928L3.45919 14.8313Z" fill="#FEBE42"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" *ngIf="item == 0">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
          </div>
        </div>
      </div>

      <div class="button mt-3">
        <button class="w-full" pButton type="button" label="Add to cart" icon="pi pi-shopping-cart" iconPos="left"></button>
      </div>
  </p-card>
  </div>
</div>

