img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
// card styling -------------------
p-card {
  max-width: 15rem;
  min-width: 15rem;
  height: 400px;
}
p-card:hover{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
::ng-deep .p-card {
  height: 100%;
}
::ng-deep .p-card-content {
  height: 100%;
  padding: 0 !important;
}
// search field and dropdown styling ----------------------
.search-field{
  min-width: 260px;
  height: 40px;
  border-radius: 22px;
  font-size: 16px !important;
}
::ng-deep .p-inputtext {
  margin-top: -5px;
}
::ng-deep .p-dropdown {
  height: 40px;
  font-size: 16px !important;
  border-radius: 10px;
  width: 200px;
}
::ng-deep .p-dropdown-trigger {
  width: 2rem !important;
}
//responsive header and filter styling ----------------------
@media (max-width: 300px) {
  p-card {
    min-width: 95% !important;
    max-width: 95% !important;
    height: 400px !important;
  }
  ::ng-deep .p-card {
  height: 90%;
  }
}

@media (max-width: 580px) {
  p-card {
    min-width: 95% !important;
    max-width: 95% !important;
    height: 440px;
  }

  ::ng-deep .p-dropdown {
    height: 40px;
    font-size: 16px !important;
    border-radius: 10px;
    width: 150px;
  }
}
@media (min-width: 580px) and (max-width: 820px) {
  p-card {
    min-width: 31% !important;
    max-width: 31% !important;
    height: 400px;
  }
}
@media (min-width: 1500px) {
  p-card {
    min-width: 250px !important;
    max-width: 250px !important;
    height: 400px;
  }
}
.header{
  border-bottom: 1px solid #E5E5E5;
}
.filter{
  background-color: #E5E5E5;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  border: none;
}




// styling for star ratings ----------------
.rating{
  margin-top: 20px;
  gap: 10px;
  .rate-txt-mini{
    background: #FEBE42;
    gap: 4px;
    width: 45px;
    height: 31px;
    background: #FEBE42;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .stars{
    display: flex;
    gap:2px;
  }
}
